
.interest {
	display: grid;
	grid-template-columns: 230px 230px 230px 230px;
	bottom: 0;
	margin-bottom: 500px;
	padding-bottom: 0;
	justify-items: center;

}
.military {
	background-image: url('../images/soldiers.png');
	background-repeat: no-repeat;
	background-position: -100px 0;
	width: 210px;
	height: 210px;
	border-radius: 50%;
}
.military p {
	padding-top: 250px;
}
.programer {
	background-image: url('../images/programer.png');
	background-repeat: no-repeat;
	background-position: -80px -30px;
	width: 210px;
	height: 210px;
	border-radius: 50%;
}
.programer p {
	padding-top: 250px;
}
.hirurg {
	background-image: url('../images/hirurg.png');
	background-repeat: no-repeat;
	background-position: -80px -30px;
	width: 210px;
	height: 210px;
	border-radius: 50%;
}
.hirurg p {
	padding-top: 250px;
}
.bredli{
	background-image: url('../images/bredli.png');
	background-repeat: no-repeat;
	background-position: -70px -20px;
	width: 210px;
	height: 210px;
	border-radius: 50%;
}
.bredli p {
	padding-top: 250px;
}

@media only screen and (max-width: 600px) {
	.interest {
		display: grid;
		grid-template-columns: 500px;
		grid-template-rows: 230px 230px 230 230;
		margin: 0 auto;
		margin-bottom: 300px;
	}
    .military {
    	background-image: url('../images/soldiers.png');
		background-repeat: no-repeat;
		width: 500px;
		height: auto;
		border-radius: 0;
		margin-bottom: 10px;
    }
    .military p {
    	color: #fff;
    	text-shadow: #000 1px 1px;
    }
    .programer {
	background-image: url('../images/programer.jpg');
	background-repeat: no-repeat;
	width: 500px;
	height: auto;
	border-radius: 0;
	margin-bottom: 10px;
}
.programer p {
	color: #fff;
    text-shadow: #000 1px 1px;
}
.hirurg {
	background-image: url('../images/hirurg.jpg');
	background-repeat: no-repeat;
	width: 500px;
	height: auto;
	border-radius: 0;
	margin-bottom: 10px;
}
.hirurg p {
	color: #fff;
    text-shadow: #000 1px 1px;
}
.bredli{
	background-image: url('../images/bredli.jpg');
	background-repeat: no-repeat;
	width: 500px;
	height: auto;
	border-radius: 0;
	margin-bottom: 10px;
}
.bredli p {
	color: #fff;
    text-shadow: #000 1px 1px;
}
    hr {
    	display: none;
    }
}